{
  "files": [
    {
      "pattern": "target/*.asc",
      "target": ""
    },
    {
      "pattern": "target/*.jar",
      "target": ""
    },
    {
      "pattern": "",
      "target": ""
    }
  ]
}
