name: Build and upload proxy client to JFrog

on:
  push:
    branches:
      - stage
      # TODO: snapshots_private has been removed from base parent pom.xml.  Need to add workflow code code to write snapshots_private to local pipeline pom.xml (this workflow will not work until that is done)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Java client
      uses: actions/checkout@v2

    - name: Set up settings.xml for Maven
      uses: s4u/maven-settings-action@v2.8.0
      with:
        servers: '[{"id": "snapshots_private", "username": "${{ secrets.JFROG_USERNAME }}", "password": "${{ secrets.JFROG_MAVEN_TOKEN }}"}]'

    - name: Build Java client
      run: mvn install

    - name: Upload to JFrog
      run: mvn deploy
